@media screen and (max-width: 1600px) {
    .contact {
        width: 90vw;
        margin: 0px 5vw 3em;
    }
}

@media screen and (max-width: 1300px) {
    .contact__forms {
        width: 40vw;
    }
}

@media screen and (max-width: 800px) {
    label,
    .forms__button {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contact__media ul {
        display: flex;
        flex-direction: column;
    }

    .contact__media li {
        padding: 0px;
        padding-bottom: 6px;
        text-align: center;
    }

    #linkedin {
        padding-left: 2px;
        text-align: center;

    }

    
    .contact__hyperlinks {
        display: flex;
        flex-direction: row;
    }

    .contact__forms {
        width: 70vw;
    }
} 