@media screen and (max-width: 1000px) {
    .about__text {
        flex-direction: column;
        margin: 0px 30px;
    }

    .about__text p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .about__lists {
        flex-direction: column;
        align-items: center;
        padding: auto 20px;
        margin: 0px 55px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .about__lists {
        padding: auto 20px;
        margin: 0px 50px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    .about__lists {
        padding: auto 20px;
        margin: 0px 100px;
    }
}