@media screen and (max-width: 750px) {
    .about__text {
        display: block;
    }

    .about__text p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .about__lists {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .about__text p,
    .about__lists {
        font-size: 14px;
    }
}