@media screen and (max-width: 900px) {
    .navbar__link {
        padding: 0px 20px;
        font-size: 18px;
    }

    .header__name a {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    .navbar__link {
        padding: 0px 10px;
        font-size: 14px;
    }

    .header__name a {
        font-size: 30px;
    }
}



@media screen and (max-width: 500px) {
    .header {
        justify-content: center;
    }
    
    .navbar__link {
        padding: 0px 10px;
        font-size: 14px;
    }

    .header__name a {
        display: none;
    }
}