@import url(./mq_header.css);

@media screen and (max-width: 1850px) {
    .main {
        margin: 100px 5vw 0px;
    }
    
    .gradient {
        width: 70vh;
        height: 70vh;
    }
}

@media screen and (max-width: 1550px) {
    .main {
        margin: 100px 5vw 0px;
    }
    
    .gradient {
        width: 55vh;
        height: 55vh;
    }
}

@media screen and (max-width: 1350px) {
    .main {
        margin: 100px 2vw 0px;
    }
    
    .gradient {
        width: 50vh;
        height: 50vh;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        padding: 40px;
    }
    .main h2 {
        font-size: 70px;
    }
    .main h3 {
        font-size: 24px;
    }
    .main a {
        font-size: 22px;
    }
    .main p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .main h2 {
        font-size: 60px;
    }
    .main h3 {
        font-size: 22px;
    }
    .main a {
        font-size: 20px;
    }
    .main p {
        font-size: 18px;
    }
    .gradient {
        width: 40vh;
        height: 40vh;
    }
}

@media screen and (max-width: 1050px) {
    .main {
        margin: 100px 10vw 0px;
        padding: 60px;
    }
    .main h2 {
        font-size: 80px;
    }
    .main h3 {
        font-size: 28px;
    }
    .main a {
        font-size: 24px;
    }
    .main p {
        font-size: 24px;
    }
    .gradient {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .main {
        margin: 100px 2vw 0px;
    }
}

@media screen and (max-width: 620px) {
    .main {
        padding: 40px;
    }
    .main h2 {
        font-size: 70px;
    }
    .main h3 {
        font-size: 24px;
    }
    .main a {
        font-size: 22px;
    }
    .main p {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .main h2 {
        font-size: 60px;
    }
    .main h3 {
        font-size: 22px;
    }
    .main a {
        font-size: 20px;
    }
    .main p {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px) {
    .main h2 {
        font-size: 40px;
    }
    .main h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .main a {
        font-size: 18px;
        padding: 15px;
    }
    .main p {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {

    .main p {
        font-size: 14px;
    }
}