@import url(./mq_header.css);
@import url(./mq_aboutme.css);
@import url(./mq_projects.css);
@import url(./mq_academics.css);
@import url(./mq_footer.css);

@media screen and (max-width: 600px) {
    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1600px) {
    .main {
        width: 96vw;
        margin: 150px 2vw;
    }
}