@media screen and (max-width: 1400px) {
    .projects h2 {
        margin-bottom: 40px;
    }

    .projects h4 {
        font-size: 23px;
    }

    .projects__projects {
        display: block;
    }

    .projects__options {
        margin: 40px 0px;
    }

    .projects__options p {
        font-size: 20px;
    }

    .projects__more {
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    .projects__options img  {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .projects__options img  {
        width: 300px;
    }

    .projects__projects {
        margin: auto 60px;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .projects__options img  {
        width: 500px;
    }

    .projects__projects {
        margin: auto 60px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .projects__options img  {
        width: 500px;
        height: 300px;
    }

    .projects__projects {
        margin: auto 100px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .projects__options img  {
        width: 500px;
        height: 300px;
    }

    .projects__projects {
        margin: auto 200px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .projects__options img  {
        width: 700px;
        height: 400px;
    }

    .projects__projects {
        margin: auto 200px;
    }
}