.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;

  padding: 20px 0px;
}

/* TODO: TITTLE CSS */
.header__name {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.header__name-div {
  transition: 0.3s ease-in-out;
}

.header__name:hover {
  color: var(--secondary-color);
}

.header__name-div:hover {
  transform: scale(105%);
}

/* TODO: NAVBAR CSS */
.header__navbar-list {
  display: flex;
}

.header__navbar-item {
  list-style: none;
  font-size: 24px;

  transition: 0.3s ease-in-out;
}

.header__navbar-item:hover {
  transform: scale(103%) translateY(-5px);
}

.header__navbar-link {
  color: var(--white);
  text-decoration: none;
  padding: 34px 30px;

  transition: 0.3s ease-in-out;
}

.header__navbar-link:hover {
  color: var(--secondary-color);
}
