.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 115px;
  
  padding: 20px 0px;
}

.header__hamburger,
.header__x {
  display: none;
}

.header__name {
  transition: 0.3s ease-in-out;
}

.header__name:hover {
  transform: scale(105%);
}

.header__name a {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.header__name a:hover {
  color: var(--primary-color);
}

.navbar__list {
  display: flex;
}

.navbar__item {
  list-style: none;
  font-size: 24px;

  transition: 0.3s ease-in-out;
}

.navbar__item:hover {
  transform: scale(103%) translateY(-5px);
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
  padding: 34px 30px;

  transition: 0.3s ease-in-out;
}

.navbar__link:hover {
  color: var(--primary-color);
}
