.main {
  margin: 0px 11vw;
  margin-top: 100px;
  position: relative;

  height: 85vh;
  padding: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--secondary-color);
  border-radius: 70px;
}

.main__tittle h2 {
  font-size: 80px;
  line-height: 0.95;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.main__tittle {
  transition: 0.3s ease-in-out;
}

.main__tittle:hover {
  transform: scale(102%);
}

.main__subtittle {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 500;

  margin-bottom: 50px;
}

.main__text {
  font-size: 22px;
  margin-bottom: 70px;
}

.main__button {
  width: 188px;
  transition: 0.2s ease-in-out;
}

.main__button:hover {
  transform: scale(102%);
}

.main__button a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;

  padding: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.main__button a:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.gradient {
  width: 75vh;
  height: 75vh;
  background-image: linear-gradient(transparent, var(--black));

  transition: 0.3s ease-in-out;
}

.gradient:hover {
  transform: scale(102%);
}

.image {
  background-image: url(../img/sofia.png);
  background-size: 100%;
  margin-left: 1em;

  transition: 0.3s ease-in-out;
}

.image:hover {
  transform: scale(108%);
}
