@import url(./header.css);

:root {
  --primary-color: #ffc400;
  --secondary-color: #0091ff;
  --accent-color: #ff5003;
  --black: #090501;
  --white: #fefefb;

  --sans-font: "Helvetica";

  --section-margin: 150px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  scroll-behavior: smooth;
  scroll-margin-top: 150px;
  cursor: default;
}

a {
  color: var(--white);
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans-font), sans-serif;
}
