@import url(./header.css);

:root {
  --primary-color: rgb(0, 102, 255);
  --secondary-color: gold;
  --accent-color: rgb(0, 255, 0);
  --black: black;
  --white: white;

  --sans-font: "Helvetica";

  --section-margin: 150px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  scroll-behavior: smooth;
  scroll-margin-top: 150px;
  cursor: default;
}

a {
  color: var(--white);
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans-font), sans-serif;
}
