@import url(./header.css);
@import url(./home.css);

:root {
  --primary-color: blue;
  --secondary-color: gold;
  --accent-color: lightgreen;
  --black: black;
  --white: white;

  --sans-font: "Helvetica";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans-font), sans-serif;
}
