.projects {
  margin-bottom: var(--section-margin);
  text-align: center;
}

.projects__projects {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projects__projects a {
  margin: 50px 0px;
  align-self: flex-end;
}

.projects__options {
  padding: 30px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  transition: 0.3s ease-in-out;
}

.projects__options h4,
.projects__options img,
.projects__options p {
  cursor: pointer;
}

.projects__options:hover {
  transform: translateY(-40px);
}

.projects__options img {
  border-radius: 15px;
  height: 230px;
  width: 345px;

  object-fit: cover;
}

#scrambler {
  object-fit: contain;
}

.projects__options p {
  margin-top: 15px;
  font-size: 14px;
}

.projects__more {
  display: flex;
  justify-content: center;
}

.projects__more p {
  font-size: 24px;
  color: var(--primary-color);
}

.projects__more img {
  cursor: pointer;
  height: 28px;

  position: relative;
  bottom: -6px;
  margin-left: 10px;
}

.projects__more p:hover {
  text-decoration: underline;
  text-underline-offset: 7px;

  #arrow {
    display: none;
  }
}
